<header>
  {{ page.header }}
</header>

<nav>
  {{ page.navigation }}
</nav>

<div class="hero">
  <div class="region region-hero">
    {{ page.hero }}
  </div>
</div>

<main>
  {{ page.content }}
</main>

<footer>
  {{ page.footer }}
</footer>
