<header>
  {{ page.header }}
<nav>
  {{ page.navigation }}
</nav>
</header>



  {{ page.highlighted }}

  {{ page.help }}


<main>
  {{ page.content }}
</main>

<footer>
  {{ page.footer }}
</footer>
