<header>
  {{ page.header }}
<nav>
  {{ page.navigation }}
</nav>
</header>

  {{page.breadcrumb}}

  {{ page.highlighted }}

  {{ page.help }}


  
<main>
  <div class="main-sidebar">
  {{ page.sidebar }}
  </div>
  <div class="main-content">
  {{ page.content }}
    </div>
</main>

<footer class="footer">
  {{ page.footer }}
</footer>
